<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>pao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guagualeft.png</string>
            <key>size</key>
            <string>{640,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfe8717c982669bc7b96bd98723cf3b9:a9236971310d083c591ce56eacd8ad26:05dc4f9735760b153c0a72384da5720a$</string>
            <key>textureFileName</key>
            <string>guagualeft.png</string>
        </dict>
    </dict>
</plist>
